{
  "*.{js,jsx,ts,tsx,css}": [
    "prettier --write",
    "git add"
  ],
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix --ext js,jsx,ts,tsx",
    "leasot -x",
    "git add"
  ],
  "*.css": [
    "stylelint --fix",
    "git add"
  ]
}
