{
  "{src,config,scripts}/**/*.{js,jsx,ts,tsx,css}": [
    "prettier --write"
  ],
  "{src,config,scripts}/**/*.{js,jsx,ts,tsx}": [
    "eslint --fix --ext js,jsx,ts,tsx",
    "leasot -x"
  ],
  "*.css": [
    "stylelint --fix"
  ]
}
