@import '../variables';

.wrapper {
    color: #f9f9f9;
    background: var(--color-primary);
    margin-bottom: 0;
    padding: 16px;
    position: relative;
    width: 100%;

    &:after {
        content: '';
        height: 32px;
        display: block;
        background: linear-gradient(
            179deg,
            var(--color-primary) 0,
            var(--color-primary) 49%,
            rgba(255, 255, 255, 0) 51%,
            rgba(255, 255, 255, 0) 100%
        );
        /* does not work in edge: */
        /* background: linear-gradient(
            179deg,
            var(--color-primary) 0,
            var(--color-primary) 49%,
            #ffffff00 51%,
            #ffffff00 100%
        ); */
        position: absolute;
        bottom: -32px;
        left: 0;
        right: 0;
    }
}
