.wrapper {
    color: #f9f9f9;
    background: #174c5b;
    margin-bottom: 0;
    padding: 16px;
    position: relative;
    width: 100%;

    &:after {
        content: '';
        height: 32px;
        display: block;
        background: linear-gradient(
            179deg,
            #174c5b 0,
            /* #174c5b 50%,
            #ffffff00 50.1%, */ #174c5b 49%,
            #ffffff00 51%,
            #ffffff00 100%
        );
        position: absolute;
        bottom: -32px;
        left: 0;
        right: 0;
    }
}
