.wrapper {
    text-decoration: none;
    white-space: pre;
}

.icon {
    height: 32px;
    margin-bottom: 4px;
    margin-right: 4px;
    vertical-align: middle;
    /* vertical-align: -60%; */
    width: 32px;
}
