@import '../variables.css';
@import '../media.css';

:root {
    --grid-cell-padding-h: 8px;
    --grid-cell-padding-v: 8px;
    --grid-cell-margin-h: 8px; /* "gutter size" */
    --grid-cell-margin-v: 8px;
    --spacing-xsmall: 4px;
    --spacing-small: 8px;
    --spacing-default: 16px;
    --spacing-medium: 24px;
    --spacing-large: 36px;
    --spacing-xlarge: 48px;
    /* --viewport-max-width: 1280px; */
}

.grid {
    display: flex;
    flex-direction: column;
    max-width: var(--viewport-max-width);
    position: relative;
    width: 100%;

    &.centered {
        margin: auto;
    }

    &.fluid {
        max-width: 100%;
    }

    &.seamless {
        & > .row,
        & > .row > .col,
        & > .row > .col .row:first-child,
        & > .row > .col .row:last-child {
            margin: 0;
            padding: 0;
        }
    }

    &:after {
        content: '';
        display: table;
        clear: both;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;

        &.justifyContent {
            &Start {
                justify-content: flex-start;
            }

            &End {
                justify-content: flex-end;
            }

            &Center {
                justify-content: center;
            }
        }

        .col {
            box-sizing: border-box;
            flex: 0 1 auto;
            float: left;
            margin: calc(var(--grid-cell-margin-v) / 2)
                calc(var(--grid-cell-margin-h) / 2);
            max-width: 100%;
            min-height: 1px;
            padding: var(--grid-cell-padding-v) var(--grid-cell-padding-h);
            position: relative;
            vertical-align: top;

            &.textAlign {
                &Left,
                &left {
                    text-align: left;
                }

                &Right,
                &right {
                    text-align: right;
                }

                &Center,
                &center {
                    text-align: center;
                }
            }

            .grid {
                width: calc(
                    100% + var(--grid-cell-padding-h) * 2 +
                        var(--grid-cell-margin-h) / 2
                );
                margin: calc(
                        0px - var(--grid-cell-padding-v) -
                            (var(--grid-cell-margin-v) / 2)
                    )
                    calc(
                        0px - var(--grid-cell-padding-h) -
                            (var(--grid-cell-margin-h) / 2)
                    );
            }
        }
    }
}

@each $size in (xs, sm, md, lg, xl) {
    @media (--viewport-$(size)) {
        .grid {
            .col-$(size)Hidden {
                display: none;
            }
            .col-$(size)Visible {
                display: block;
            }
        }

        @each $cols in 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12 {
            .col-$(size)$(cols) {
                width: calc(100% / (12 / $(cols)) - var(--grid-cell-margin-h));
            }
        }
    }
}

.grid.debug {
    outline: 1px solid red;
}

.row.debug {
    outline: 1px solid blue;
}

.col.debug {
    outline: 1px solid green;
}
