:root {
    --default-font-family: Classic Round, Georgia, Sans-Seri;
    --default-font-weight: 300;
    --viewport-max-width: 1280px;

    --color-primary: #174c5b;
    --color-secondary: #94b6b5;
    --color-accent: #00c7c2;

    --color-black: #272727;
    --color-white: #fff;
    --color-darkwhite: #f9f9f9;
    --color-grey: #a3afb2;
    --color-lightgrey: #e5e5e5;
    --color-lightgrey-shape: #c5cdcf;
    --color-darkgrey: #6f6e6e;

    --card-padding: 8px;
    --card-margin: 16px;

    --layer--notification: 48;

    --layer--overlay-content: 64;
    --layer--overlay-backdrop: 63;

    --drop-shadow--sm: 2px 2px 4px rgba(0, 0, 0, 0.04);
    --drop-shadow--md: 2px 2px 11px rgba(0, 0, 0, 0.1);
    --drop-shadow--lg: 0px 12px 22px rgba(0, 0, 0, 0.1);
    --checkbox-size: 28px;
    --topbar-height: 80px;

    --font-size-xsmall: 12px;
    --font-size-small: 15px;
    --font-size-default: 17px;
    --font-size-medium: 20px;
    --font-size-large: 28px;
    --font-size-xlarge: 36px;

    --border-radius: 8px;

    --transition-duration-short: 0.1s;
    --transition-duration-default: 0.5s;
    --transition-duration-long: 1s;
}

:root {
    --grid-cell-padding-h: 8px;
    --grid-cell-padding-v: 8px;
    --grid-cell-margin-h: 8px;
    --grid-cell-margin-v: 8px;
    --spacing-xsmall: 4px;
    --spacing-small: 8px;
    --spacing-default: 16px;
    --spacing-medium: 24px;
    --spacing-large: 36px;
    --spacing-xlarge: 48px;
}

.grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 1280px;
    max-width: var(--viewport-max-width);
    position: relative;
    width: 100%;
}

.grid.centered {
    margin: auto;
}

.grid.fluid {
    max-width: 100%;
}

.grid.seamless > .row,
.grid.seamless > .row > .col,
.grid.seamless > .row > .col .row:first-child,
.grid.seamless > .row > .col .row:last-child {
    margin: 0;
    padding: 0;
}

.grid:after {
    content: '';
    display: table;
    clear: both;
}

.grid .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.grid .row.justifyContentStart {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.grid .row.justifyContentEnd {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.grid .row.justifyContentCenter {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.grid .row .col {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    float: left;
    margin: calc(8px / 2) calc(8px / 2);
    margin: calc(var(--grid-cell-margin-v) / 2)
        calc(var(--grid-cell-margin-h) / 2);
    max-width: 100%;
    min-height: 1px;
    padding: 8px 8px;
    padding: var(--grid-cell-padding-v) var(--grid-cell-padding-h);
    position: relative;
    vertical-align: top;
}

.grid .row .col.textAlignLeft,
.grid .row .col.textAlignleft {
    text-align: left;
}

.grid .row .col.textAlignRight,
.grid .row .col.textAlignright {
    text-align: right;
}

.grid .row .col.textAlignCenter,
.grid .row .col.textAligncenter {
    text-align: center;
}

.grid .row .col .grid {
    width: calc(100% + 8px * 2 + 8px / 2);
    width: calc(
        100% + var(--grid-cell-padding-h) * 2 + var(--grid-cell-margin-h) / 2
    );
    margin: calc(0px - 8px - (8px / 2)) calc(0px - 8px - (8px / 2));
    margin: calc(
            0px - var(--grid-cell-padding-v) - (var(--grid-cell-margin-v) / 2)
        )
        calc(0px - var(--grid-cell-padding-h) - (var(--grid-cell-margin-h) / 2));
}

.grid.debug {
    outline: 1px solid red;
}

.row.debug {
    outline: 1px solid blue;
}

.col.debug {
    outline: 1px solid green;
}
