@font-face {
    font-family: 'Classic Round';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/classicround-regular-webfont.woff2') format('woff2'),
        url('assets/fonts/classicround-regular-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Classic Round';
    font-style: italic;
    font-weight: 400;
    src: url('assets/fonts/classicround-it-webfont.woff2') format('woff2'),
        url('assets/fonts/classicround-it-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Classic Round';
    font-style: normal;
    font-weight: 500;
    src: url('assets/fonts/classicround-medium-webfont.woff2') format('woff2'),
        url('assets/fonts/classicround-medium-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Classic Round';
    font-style: normal;
    font-weight: 700;
    src: url('assets/fonts/classicround-bold-webfont.woff2') format('woff2'),
        url('assets/fonts/classicround-bold-webfont.woff') format('woff');
}
