@import '../variables.css';

.wrapper {
    background: var(--color-secondary);
    color: var(--color-black);
    margin-bottom: 0;
    margin-top: 32px;
    padding: 16px;
    position: relative;
    width: 100%;

    &:after {
        /* Using 179.5deg inside of linear-gradient causes postcss-loader to throw an
        "unknown word" error. Setting it as css variable and using works fine ... */
        --angle: 179.5deg;

        background: linear-gradient(
            var(--angle),
            rgba(255, 255, 255, 0) 0,
            rgba(255, 255, 255, 0) 50%,
            var(--color-secondary) 51%,
            var(--color-secondary) 100%
        );
        content: '';
        display: block;
        height: 32px;
        left: 0;
        /* does not work in edge: */
        /* background: linear-gradient(
            179.5deg,
            #ffffff00 0,
            #ffffff00 50%,
            var(--color-secondary) 51%,
            var(--color-secondary) 100%
        ); */
        position: absolute;
        right: 0;
        top: -32px;
    }

    a {
        color: var(--color-primary);
    }

    a:hover {
        color: var(--color-darkwhite);
    }
}
