.wrapper {
    color: #f9f9f9;
    background: #94b6b5;
    margin-bottom: 0;
    margin-top: 32px;
    padding: 16px;
    position: relative;
    width: 100%;

    &:after {
        content: '';
        height: 32px;
        display: block;
        background: linear-gradient(
            179deg,
            #ffffff00 0,
            #ffffff00 50%,
            #94b6b5 50.1%,
            #94b6b5 100%
        );
        position: absolute;
        top: -32px;
        left: 0;
        right: 0;
    }
}
